

<div class="block p-6 max bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Title</h5>
    <p class="font-normal text-gray-700 dark:text-gray-400 mb-16">Describtion</p>
    <h2 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">We invest in the world's potential</h2>
    <svg src="/angular-hw001/src/assets/icons/javascript.svg"></svg> 

    <p class="font-normal text-gray-700 dark:text-gray-400 "> 	
        &#9989; Dynamic reports and dashboards</p>
    <p class="font-normal text-gray-700 dark:text-gray-400 "> &#9989; Template for everyone</p>
    <p class="font-normal text-gray-700 dark:text-gray-400 "> &#9989; Development workflow</p>
    <p class="font-normal text-gray-700 dark:text-gray-400 "> &#9989; Limitless business automation</p>
</div>
